.camera {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.camera__column {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.camera__preview {
  object-fit: contain;
  border: 2px solid rgba(255, 255, 255, 1);
  background: #263238;
  width: 100%;
}
